html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background: #eee;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 40%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

@media (max-width: 460px) {
  img {
    max-width: 60%;
  }
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 0 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#tribute-info {
  text-align: center;
  background-color: #eee;
  padding: 50px;
}

ul {
  margin: 0 auto;
  max-width: 800px;
  display: block;
}

li {
  text-align: left;
}

@media (max-width: 460px) {
  ul li {
    font-size: 1.5rem;
  }
}